<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/css/style.css" />
  </head>
  <body>
    <footer class="bg-body-secondary p-5" style="height: 50vh">
      <div class="container p-5">
        <div class="top d-flex flex-row">
          <div class="w-50">
            <h3>FoodHub</h3>
            <p class="w-75">
              Your one-stop destination for food delivery and amazing recipes.
            </p>
          </div>
          <div class="w-50">
            <h3>Quick Links</h3>
            <a href="../pages/menu.html" class="text-decoration-none text-dark"
              >Order Food</a
            ><br /><a
              href="../pages/galary.html"
              class="text-decoration-none text-dark"
              >Browse Recipes</a
            ><br /><a href="#" class="text-decoration-none text-dark">link3</a>
          </div>
          <div class="w-50">
            <h3>Contact</h3>
            <p>support@foodhub.com</p>
            <p>1-800-FOOD-HUB</p>
          </div>
        </div>
        <div class="button">
          <hr />
          <p class="text-center">@ 2026 FoodHub. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
