<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="../assets/css/style.css" /> -->
  </head>
  <body>
    <!-- navBar -->
    <nav class="navbar fixed-top bg-body-tertiary p-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"> Food Hub</a>
        <div class="">
          <button
            type="button"
            class="btn btn-light"
            style="width: 150px; border-radius: 20px"
          >
            <a href="../pages/menu.html" class="text-decoration-none"> Menu </a>
          </button>
          <button
            type="button"
            class="btn btn-light"
            style="width: 150px; border-radius: 20px"
          >
            <a href="../pages/galary.html" class="text-decoration-none">
              Galary
            </a>
          </button>
          <a href="./cart.html" class="text-decoration-none text-black">
            <i class="fa-solid fa-cart-shopping"></i>
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>
