<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <!-- <link rel="stylesheet" href="../assets/css/style.css" /> -->
  </head>
  <body>
    <!-- navBar -->
    <nav class="navbar fixed-top bg-body-secondary p-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"> Food Hub</a>
        <div class="">
          <ul class="d-flex list-unstyled gap-5">
            <li>
              <a
                href="../pages/menu.html"
                class="text-decoration-none text-black"
              >
                Menu
              </a>
            </li>
            <li>
              <a
                href="../pages/recipes.html"
                class="text-decoration-none text-black"
              >
                Galary
              </a>
            </li>
            <li>
              <a
                href="../pages/cart.html"
                class="text-decoration-none text-black"
              >
                <i class="fa-solid fa-cart-shopping"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
